<app-common-header></app-common-header>
<section class="hero">

  <section class="columns hero__container">

    <div class="column is-3 hero__left">
      <aside class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li>
            <a routerLink="/dashboard" routerLinkActive="is-active">Dashboard</a>
          </li>
          <li>
            <a routerLink="/profile-setting" routerLinkActive="is-active">Profile Settings</a>
          </li>
        </ul>
        <p class="menu-label">
          Components
        </p>
        <ul class="menu-list">
          <li>
            <a routerLink="/component-one" routerLinkActive="is-active">Component One</a>
          </li>
          <li>
            <a routerLink="/component-two" routerLinkActive="is-active">Component Two</a>
          </li>
          <li>
            <a routerLink="/component-three" routerLinkActive="is-active">Component Three</a>
          </li>
        </ul>
      </aside>

    </div>

    <div class="column hero__right">
      <router-outlet></router-outlet>
    </div>


  </section>


</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Footer</strong> content to be placed here !
        <a href="http://jgthms.com">Manoj kumar S</a>
      </p>
    </div>
  </div>
</footer>