<section class="section component-three">
  <ngb-tabset>
    <ngb-tab *ngFor="let spreadsheet of spreadsheets; index as spreadsheet_index">
      <ng-template ngbTabTitle>
        <div (click)="setTabIndex(spreadsheet_index)">{{spreadsheet.name}}</div>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="container">
          <nav class="panel">
            <p class="panel-heading">
              {{spreadsheet.name}}
            </p>

            <div class="panel-block">
              <div class="container">
                <div class="columns">
                  <div class="column">
                    <button class="button is-link" (click)="addColumnModal(spreadsheet)">
                      add column
                    </button>
                  </div>
                  <div class="column">
                    <button class="button is-link" (click)="addRowModal(spreadsheet)">
                      add row
                    </button>
                  </div>
                  <div class="column">

                  </div>
                  <div class="column">

                  </div>
                </div>
              </div>
            </div>

            <div class="panel-block">
              <table *ngIf="spreadsheet.rows.length > 0" class="table is-bordered is-striped is-narrow">
                <thead>
                  <tr>
                    <th></th>
                    <th *ngFor="let colRow of spreadsheet.rows[0].colRows">
                      <p class="has-text-centered">{{colRow.col.name}}
                        <i class="fa fa-trash" aria-hidden="true" (click)="deleteColumn(spreadsheet, colRow.col)"></i>
                      </p>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of spreadsheet.rows; index as row_index">
                    <td>
                      <span class="has-text-left has-text-weight-bold">{{row.name}}</span>
                    </td>
                    <td *ngFor="let colRow of row.colRows">
                      <span class="has-text-right">
                        <input [(ngModel)]="colRow.value">
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel-block">
              <button id="spreadsheet-save-button" class="button is-link" (click)="save(spreadsheet)">
                save
              </button>
            </div>
          </nav>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</section>